@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #38034f;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
}

.brand span {
    color: #ff8f00;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;

}

.menu a {
    color: #fff;
    text-decoration: none;
    /* Ajustado a "none" en lugar de "solid" que no es un valor válido para "text-decoration" */
    padding: 10px 20px;
    font-weight: bold;
    /* Añadido para hacer que el texto sea en negrita */
}

.menu li:hover a {
    background-color: #ff8f00;
    color: #000000;
}

.menu .active {
    color: rgb(255, 115, 0);

}


.menu li a:hover {
    color: #000000;
}


.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2em;
}

h1 {
    font-size: 3em;
}

.info-content span {
    color: #ff8f00;
}

.download-cv {
    padding: 10px 20px;
    background-color: #950000;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    color: rgba(194, 192, 192, 0.996);
}

.download-cv:hover {
    background-color: rgb(233, 106, 106);
    /* Cambia el color de fondo al pasar el cursor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Añade una sombra sutil */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.main img {
    border: 7px solid #2d1932;
    /* Oculta el borde por defecto */
    width: 350px;
    height: 520px;
    z-index: 1;
    transition: transform 0.3s, box-shadow 0.3s;
    /* Agrega una transición suave */
}

/* Agrega una sombra y aumenta el tamaño al pasar el mouse */
.main img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Agrega una sombra alrededor de la imagen */
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño de la imagen */
}

.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    height: 100%;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: #191c32;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: rgb(255, 0, 0);
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
}

.portfolio,
.contact-section {
    width: 100vw;
    background-color: #38034f;
    color: #fff;
}

.portfolio-heading {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.portfolio-heading h2,
.contact-heading h2 {
    font-size: 2.5em;
    color: #fff;
}

.portfolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex-start;
    align-items: center;
    justify-content: center;
}

.card {
    width: 300px;
    background-color: #2b3058;
    margin: 1em;
    border-radius: 10px;
    /* Ajusta el valor según lo redondeado que desees los bordes */
    transition: transform 0.3s ease;
    /* Agrega una transición suave */
}


.card__img {
    width: 100%;
    height: 150px;
    background-image: url(conta.jpg);
    background-size: cover;
    border-radius: 10px;
}

.card__title {
    padding: 20px;
}

.card__proyect-links {
    display: flex;
    justify-content: space-evenly;
}

.card__proyect-links a {
    color: #fff;
    text-decoration: none;
}

.card__proyect-links i {
    font-size: 1.5em;
}

.button-content {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.project-details-button a {
    text-decoration: none;
    color: #191c32;
}


.contact-section {
    padding: 3em;
}

.container-contact {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.contact-section img {
    width: 750px;
    height: 700px;
    bottom: 0px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

.form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.form-group .btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color: aqua;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color: aqua;
}

.footer-content h2 {
    font-size: 3em;
}

.footer-content h5 {
    font-size: 1.5em;
    text-align: center;
}

.sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.sotial-networks i {
    font-size: 1.5em;
}

.portfolio,
.contact-section {
    width: 100vw;
    background-color: #38034f;
    color: #fff;
}

.portfolio-heading {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
}


.portfolio-heading h2,
.contact-heading h2 {
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.portfolio .container {
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.card {
    width: 600px;
    background-color: #2b3058;
    margin: 1em;
}

.card__img {
    width: 100%;
    height: 150px;
    /* background-image: url(../img/2-original.png); */
    background-size: cover;
}

.card__title {
    padding: 20px;
}

.card__proyect-links {
    display: flex;
    justify-content: space-evenly;
}

.card__proyect-links a {
    color: #fff;
    text-decoration: none;
}

.card__proyect-links i {
    font-size: 1.5em;
}

.button-content {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.project-details-button a {
    text-decoration: none;
    color: #191c32;
}

.contact-section {
    padding: 3em;
}

.container-contact {
    margin: 0 auto;
    margin-top: 0em;
}



.contact-section img {
    width: 750px;
    height: 700px;
    bottom: 0px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

.form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.form-group .btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    color: black;
    background-color: rgb(162, 253, 116);
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color: rgba(114, 0, 74, 0.778);
}

.footer-content h2 {
    font-size: 3em;
}

.footer-content h5 {
    font-size: 1.5em;
    text-align: center;
}

.sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.sotial-networks i {
    font-size: 1.5em;
}

.project-details-button {
    background-color: #7d71e7;

}

.project-details-button:hover {
    background-color: rgb(12, 128, 237);
    /* Cambia el color de fondo al pasar el cursor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Añade una sombra sutil */
    transition: background-color 0.3s, box-shadow 0.3s
}

.card:hover {
    transform: scale(1.05);
}

.sotial-networks a i {
    color: #000000;
    /* Cambia el color a rojo */
}

/* Estilos para el botón */
.project-details-button {
    background-color: #226089;
    color: white;
    padding: 14px 48px;
    border: none;
    cursor: pointer;
    border-radius: 8px 8px 3px 3px;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Estilos para el contenedor de la lista desplegable */
.button-content {
    position: relative;
    display: inline-block;
    /* Alinea el contenido en línea y permite centrarlo */
}

/* Estilos para la lista desplegable */
.dropdown-content {
    padding: 0;
    /* Eliminar cualquier relleno interno */
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #578aabfd;
    border-radius: 1px 1px 8px 8px;
    transition: opacity 0.3s ease;
}

/* Estilos para mostrar la lista desplegable cuando se pasa el cursor sobre el botón */
.button-content:hover .dropdown-content {
    display: block;
}

/* Estilos para los elementos de la lista */
.dropdown-content a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    /* Establecer relleno solo cuando sea necesario */
}

/* Cambia el color de fondo de los elementos de la lista al pasar el ratón */
.dropdown-content a:hover {
    background-color: #0e3654;
    border-radius: 1px 1px 8px 8px;
    color: white;

}

.btn-submit {
    background-color: #4CAF50;
    /* Color de fondo del botón */
    border: none;
    /* Sin borde */
    color: white;
    /* Color del texto */
    padding: 15px 32px;
    /* Espaciado interno del botón */
    text-align: center;
    /* Alineación del texto */
    text-decoration: none;
    /* Sin decoración de texto */
    display: inline-block;
    /* Mostrar como bloque */
    font-size: 16px;
    /* Tamaño de fuente */
    margin: 4px 2px;
    /* Margen exterior */
    transition-duration: 0.4s;
    /* Duración de la transición */
    cursor: pointer;
    /* Cursor apuntador */
    border-radius: 8px;
    /* Borde redondeado */
}

.btn-submit:hover {
    background-color: #45a049;
    /* Cambio de color al pasar el cursor */
    color: white;
    /* Cambio de color del texto al pasar el cursor */
    transform: scale(1.1);
    /* Aumento de tamaño al pasar el cursor */
}

html {
    font-size: 16px;
    /* Ajusta según tus preferencias */
}

/* Ajusta el tamaño de fuente de acuerdo con el tamaño de la pantalla */
@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
        /* Disminuye el tamaño de fuente para pantallas más pequeñas */
    }

    /* Ajusta el tamaño del cuerpo */
    body {
        font-size: 1rem;
        /* Reajusta el tamaño de fuente base para dispositivos móviles */
    }

    /* Ajusta el tamaño de la imagen principal */
    .main img {
        width: 250px;
        /* Redimensiona la imagen principal para dispositivos móviles */
        height: auto;
        /* Mantiene la proporción de la imagen */
    }

    /* Ajusta el tamaño de las tarjetas en el portafolio */
    .card {
        width: 100%;
        /* Haz que las tarjetas ocupen todo el ancho disponible */
        margin: 1em 0;
        /* Ajusta el margen vertical */
    }

    /* Ajusta el tamaño de la imagen de contacto */
    .contact-section img {
        width: 100%;
        /* Haz que la imagen de contacto ocupe todo el ancho disponible */
        height: auto;
        /* Mantiene la proporción de la imagen */
    }

    /* Ajusta el tamaño de los formularios de contacto */
    .form-group {
        width: 100%;
        /* Haz que los formularios ocupen todo el ancho disponible */
    }

    /* Ajusta el tamaño del botón de envío del formulario de contacto */
    .form-group .btn-submit {
        width: 100%;
        /* Haz que el botón de envío ocupe todo el ancho disponible */
    }

    /* Ajusta el tamaño de los elementos en la sección del pie de página */
    .footer-content h2,
    .footer-content h5 {
        font-size: 2em;
        /* Reduce el tamaño de fuente en el pie de página para dispositivos móviles */
    }

    /* Ajusta el tamaño de los íconos de redes sociales */
    .sotial-networks i {
        font-size: 1.2em;
        /* Reduce el tamaño de los íconos de redes sociales */
    }
}